body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./img/map\ and\ image.png);
  background-size: 100% auto;
}

.login-container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 85px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 70%;
  height: 80vh;
}

.left-section {
  flex: 1.3;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 20px;
  background: linear-gradient(
    to right,
    rgba(173, 216, 230, 0.6),
    rgb(255 255 255 / 1%)
  );
  background-size: cover;
  background-position: center;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.heading {
  font-size: 30px;
  margin-bottom: 10px;
}

/* .sub-heading {
  font-size: 125px;
  margin-bottom: 20%;
} */
.crmlogo {
  margin-top: 12%;
  height: 330px;
}

.blue-text {
  color: #3498db;
}

.orange-text {
  color: #f16335;
  font-size: 150px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 25%;
}

/* .input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 65%;
} */
.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group img {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  z-index: 1;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.input-group input {
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(65% - 30px);
  padding-left: 50px;
  z-index: 0;
  background-color: rgb(213 213 213);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
}

.input-group i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.login-btn {
  font-size: 20px;
  padding: 10px;
  background-color: #fec724;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 74%;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
  /* margin-left: 10px; */
}

.login-btn:hover {
  background-color: #c19204;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  width: 75%;
}

.checkbox-container input {
  margin-right: 5px;
  color: black;
}
.checkbox-container a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 600;
}
.checkbox-container label {
  font-size: 14px;
}
hr {
  width: 58%;
  border: 1px solid #a4a2a2;
  margin-top: 50px;
  margin-left: 105px;
}

input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 5px;
}
.input-group input::placeholder {
  font-size: 18px;
}
.right-section {
  position: relative;
}

.top-image,
.bottom-image {
  position: absolute;
  width: 100%;
  height: auto;
}

.top-image {
  top: 20px;
  left: 23%;
  height: 95px;
  width: 300px;
}

.bottom-image {
  bottom: 80px;
  right: 22%;
  height: 90px;
  width: 90px;
}
.bottompart {
  display: flex;
  justify-content: end;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .left-section {
    display: none;
  }
  .top-image {
    top: 0;
    left: 10%;
    height: 83px;
    width: 272px;
  }
  hr {
    margin-top: 37px;
  }
  .checkbox-container {
    display: grid;
    justify-content: space-around;
    gap: 10px;
  }
  .bottompart {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}
